https://www.kaggle.com/datasets/razamh/pubg-dataset

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('./data/data.csv')
df.head()

,Unnamed: 0,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,...,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints,winPlacePerc
0,2093518,a3e3cea9f2e314,c9f6eaa81245b5,a3d8693390584c,0,0,25.93,0,0,0,...,0,0.0,0,0.0,0,0,151.30,1,1525,0.0667
1,3701672,43e4be7ad72cc7,521836de101ee8,b65de9055327e0,0,0,36.71,0,0,0,...,0,0.0,0,0.0,0,0,1918.00,7,1516,0.5862
2,2059784,9a68690e31fdff,4a72ffa2cebd90,d6aad3f9830e60,0,1,47.73,0,0,0,...,0,4088.0,0,0.0,0,0,820.00,7,0,0.8105
3,1302036,b147e1bd448fc4,9a8991656b3fea,d931c0932d8aca,0,0,0.00,0,0,0,...,1,0.0,0,0.0,0,0,38.81,0,1515,0.5556
4,297180,d818b4edd59612,eece87c8b846b3,ec2b5ed94baae3,0,2,100.00,0,0,3,...,0,918.4,0,0.0,0,0,1721.00,5,0,0.6429

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1111742 entries, 0 to 1111741
Data columns (total 30 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   Unnamed: 0       1111742 non-null  int64
 1   Id               1111742 non-null  object
 2   groupId          1111742 non-null  object
 3   matchId          1111742 non-null  object
 4   assists          1111742 non-null  int64
 5   boosts           1111742 non-null  int64
 6   damageDealt      1111742 non-null  float64
 7   DBNOs            1111742 non-null  int64
 8   headshotKills    1111742 non-null  int64
 9   heals            1111742 non-null  int64
 10  killPlace        1111742 non-null  int64
 11  killPoints       1111742 non-null  int64
 12  kills            1111742 non-null  int64
 13  killStreaks      1111742 non-null  int64
 14  longestKill      1111742 non-null  float64
 15  matchDuration    1111742 non-null  int64
 16  matchType        1111742 non-null  object
 17  maxPlace         1111742 non-null  int64
 18  numGroups        1111742 non-null  int64
 19  rankPoints       1111742 non-null  int64
 20  revives          1111742 non-null  int64
 21  rideDistance     1111742 non-null  float64
 22  roadKills        1111742 non-null  int64
 23  swimDistance     1111742 non-null  float64
 24  teamKills        1111742 non-null  int64
 25  vehicleDestroys  1111742 non-null  int64
 26  walkDistance     1111742 non-null  float64
 27  weaponsAcquired  1111742 non-null  int64
 28  winPoints        1111742 non-null  int64
 29  winPlacePerc     1111741 non-null  float64
dtypes: float64(6), int64(20), object(4)
memory usage: 254.5+ MB